<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lojacrud">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/storeicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/storeicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Usuario.UsuarioCadastro"></activity>
        <activity android:name=".Usuario.Login" />
        <activity
            android:name=".ItemHistoricoPackage.ItemHistoricoActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.CustomTheme.Padrao" />
        <activity
            android:name=".ImagemDetalhesPopUp"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".DetalhesActivity" />
        <activity
            android:name=".CarrinhoPackage.Carrinho"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.CustomTheme.Padrao" />
        <activity
            android:name=".PopUp"
            android:theme="@style/AppTheme.CustomTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".CadastroActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>